:root {
	--multiplicator: 1;
}
body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	margin-top: calc(80px*var(--multiplicator));
	background-color: #E0D6E0;
	min-height: 100vh;
}
.form {
	display: contents;
}
strong {
	color: #333333;
}
div, table, tr, th, p {
	transition: opacity 0.5s ease-in-out;
}
section {
	margin-bottom: calc(5px*var(--multiplicator));
}
/* HEADER */
#header {
	display: flex;
	width: auto;
	height: calc(80px*var(--multiplicator));
	flex-direction: row;
	justify-content: space-between;
	background-color: #300030;
	box-shadow: 0 0 calc(10px * var(--multiplicator)) 0 #010101;
	align-items: center;
	position: fixed;
	padding: 0 calc(16px * var(--multiplicator));
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
#logo {
	display: block;
	width: calc(48px*var(--multiplicator));
	height: calc(64px*var(--multiplicator));
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.5s ease;
}
#logo:hover {
	transform: scale(1.1);
}
#pageTitle {
	color: #FFFFFF;
	font-size: calc(32px*var(--multiplicator));
	font-family: 'Nova Square';
	cursor: text;
	transition: all 0.5s ease;
	height: auto;
}
#pageTitle:hover {
	transform: scale(1.05);
}
#logicMenu {
	display: none;
}
#labelMenu {
	display: flex;
	width: calc(48px*var(--multiplicator));
	height: calc(32px*var(--multiplicator));
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: all 0.4s ease;
}
#line1, #line3 {
	transition: all 0.5s ease;
}
#line2 {
	transition: all 0.25s ease;
}
#labelMenu:hover {
	transform: scale(1.1);
}
#menuList {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background-color: #300030;
	color: #FFFFFF;
	position: fixed;
	padding: 0;
	margin: 0;
	top: calc(70px*var(--multiplicator));
	left: 0;
	right: 0;
	z-index: 99;
	list-style-type: none;
	transition: all 0.4s ease;
}
#menuList:hover {
	background-color: #3f0f3f;
}
.menuElement {
	display: flex;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 0;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
}
.menuElement:hover {
	background-color: #3f0f3f;
}
.menuButton {
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	font-size: calc(24px*var(--multiplicator));
	font-family: 'Prompt';
	color: white;
	border: none;
	background: transparent;
	width: 100%;
	height: 0;
	transition: opacity 0.3s ease, height 0.3s ease;
}
.menuButton:hover {
	background-color: #3f0f3f;
}
#logicMenu:checked + #labelMenu #line1{
	transform: rotate(45deg) translateY(calc(10px * var(--multiplicator))) scaleX(1.16) translateX(calc(8px * var(--multiplicator)));
}
#logicMenu:checked + #labelMenu #line2{
	opacity: 0;
}
#logicMenu:checked + #labelMenu #line3{
	transform: rotate(-45deg) translateY(calc(-10px * var(--multiplicator))) scaleX(1.16) translateX(calc(8px * var(--multiplicator)));
}
#logicMenu:checked ~ #menuList {
	background-color: #3a0a3a;
	top: calc(80px*var(--multiplicator));
}
#logicMenu:checked ~ #menuList .menuElement {
	opacity: 100;
	visibility: visible;
	height: calc(50px * var(--multiplicator));
}
#logicMenu:checked ~ #menuList .menuButton {
	opacity: 100;
	visibility: visible;
	height: calc(50px * var(--multiplicator));
}
#logicMenu:checked ~ #menuList .menuButton:not(:last-child) {
	border-bottom: calc(1px * var(--multiplicator)) solid #555;
}
.visualMenu {
	display: block;
	width: calc(40px * var(--multiplicator));
	height: 0px;
	background-color: #ffffff;
	border: calc(3px * var(--multiplicator)) #ffffff solid;
	border-radius: calc(3px * var(--multiplicator));
}
/* FOOTER */
#footer {
	display: flex;
	width: auto;
	height: calc(80px*var(--multiplicator));
	flex-direction: row;
	justify-content: space-between;
	background-color: #300030;
	box-shadow: 0 0 calc(5px * var(--multiplicator)) 0 #010101;
	align-items: center;
	padding: 0 calc(24px * var(--multiplicator));
	margin-top: auto;
	z-index: 98;
}
.footerText {
	color: #F3F3F3;
	font-size: calc(14px * var(--multiplicator));
	font-family: 'Prompt';
	font-weight: 200;
}
/* HOME PAGE */
#content {
	 margin-top: calc(30px * var(--multiplicator));
}
#homeSection {
	padding-top: calc(20px * var(--multiplicator));
	padding-bottom: calc(20px * var(--multiplicator));
}
.infoSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	justify-content: space-evenly;
	align-items: center;
}
.infoParagraph {
	width: 80%;
	font-family: Prompt;
	font-size: calc(22px * var(--multiplicator));
	text-align: justify;
	text-decoration: none;
	color: #000000;
	margin-bottom: calc(0px * var(--multiplicator));
}
.infoWarn {
	width: 80%;
	font-family: Prompt;
	font-size: calc(22px * var(--multiplicator));
	text-align: justify;
	text-decoration: none;
	color: #000000;
	margin-bottom: calc(40px*var(--multiplicator));
}
.soloTitle {
	 display: flex;
	padding: 0;
	margin: 0 calc(5px*var(--multiplicator));
	color: #280028;
	font-size: calc(28px*var(--multiplicator));
	font-family: 'Prompt';
	font-weight: 600;
	width: auto;
	height: auto;
	padding: calc(6px*var(--multiplicator));
}
#realizationBar {
	 margin-top: calc(25px*var(--multiplicator));
	 margin-bottom: calc(25px*var(--multiplicator));
	display: flex;
	width: 80%;
	position: relative;
	justify-content: center;
	align-items: center;
}
.modTableInput {
	width: 60%;
	height: calc(20px*var(--multiplicator));
	margin-right: calc(20px*var(--multiplicator));
	font-size: calc(16px*var(--multiplicator));
	font-family: 'Prompt';
	padding: calc(10px*var(--multiplicator));
	border-radius: calc(30px*var(--multiplicator));
	border: calc(2px*var(--multiplicator)) solid #FFFFFF;
	padding-right: calc(50px*var(--multiplicator));
	padding-left: calc(15px*var(--multiplicator));
	outline: none;
}
.tableGenButton {
	cursor: pointer;
	background-color: #300030;
	color: #F3F3F3;
	font-family: 'Prompt';
	font-weight: 600;
	font-size: calc(18px*var(--multiplicator));
	height: auto;
	padding: calc(8px*var(--multiplicator));
	border-radius: calc(25px*var(--multiplicator));
	border-width: 0;
	text-align: center;
	transition: all 0.1s ease;
}
.tableGenButton:hover {
	 transform: scale(1.05);
}
.graphBoardSize {
	 display: flex;
	max-width: 80%;
	position: relative;
	justify-content: center;
	align-items: center;
	 width: calc(720px*var(--multiplicator));
	 height: calc(420px*var(--multiplicator));
	 background-color: #FFFFFF;
	 margin-bottom: calc(40px*var(--multiplicator));
}
.invis {
	 display: none;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 0px) and (max-width: 450px) {
	:root {
	--multiplicator: 0.6;
	}
	.footerText {
		color: #F3F3F3;
		font-size: calc(11px * var(--multiplicator));
		font-family: 'Prompt';
		font-weight: 200;
	}
}
@media only screen and (min-width: 450px) and (max-width: 1000px) {
	:root {
	--multiplicator: 1;
	}
	.footerText {
		color: #F3F3F3;
		font-size: calc(13px * var(--multiplicator));
		font-family: 'Prompt';
		font-weight: 200;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1900px) {
	:root {
	--multiplicator: 1.2;
	}
}
@media only screen and (min-width: 1600px) {
	:root {
	 --multiplicator: 1.2;
	}
}